name: Vite

concurrency: production

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  javascript_changed:
    runs-on: ubuntu-latest
    name: "Check is javascript related files were changed"
    outputs:
      changes_detected: ${{ steps.filter.outputs.changes_detected }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            changes_detected:
              - 'jarm_online_gui/**'
              - '.github/workflows/vite.yml'
  test:
    runs-on: ubuntu-latest
    needs: javascript_changed
    if: needs.javascript_changed.outputs.changes_detected == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Build npm/vite to send codecov stats
        working-directory: ./jarm_online_gui
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          npm install --force
          npm run build
